version: '3'

x-airflow-common: #This is a template that other containers can reuse
  &airflow-common #this is the reference name 
  build:
    context: .
    dockerfile: Dockerfile
  image: custom-airflow:2.7.1-python3.11 #Create a image which is like a blueprint of all the codes, libraries etc which is created using dockerfile
  env_file:
    - airflow.env
  volumes: #mapping file paths in local pc to docker container
    - ./config:/opt/airflow/config
    - ./dags:/opt/airflow/dags
    - ./data:/opt/airflow/data
    - ./etls:/opt/airflow/etls
    - ./logs:/opt/airflow/logs
    - ./pipelines:/opt/airflow/pipelines
    - ./plugins:/opt/airflow/plugins
    - ./tests:/opt/airflow/tests
    - ./utils:/opt/airflow/utils
   # - ./airflow.cfg:/opt/airflow/airflow.cfg
    - ./requirements.txt:/opt/airflow/requirements.txt
    - ./streamlit_dashboard.py:/opt/airflow/streamlit_dashboard.py
  depends_on:
    - postgres
    - redis

services: #These are containers:these are the live processes of the images(running instance of image) docker compose runs all the containers together 
  postgres: 
    image: postgres:12
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: airflow_reddit
      POSTGRES_PORT: 5432
    ports:
      - "5432:5432"

  redis: #message queue for celery
    image: redis:latest
    ports:
      - "6379:6379"

  airflow-init:
    <<: *airflow-common #reuse the template
    command: >
      bash -c "airflow db init && airflow db upgrade && airflow users create --username admin --firstname admin --lastname admin --role Admin --email airflow@airflow.com --password admin"
    restart: "no"

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler

  airflow-worker:
    <<: *airflow-common
    command: celery worker
    deploy:
      resources:       
        limits:
          memory: 4G

  streamlit:
    <<: *airflow-common
    command: bash -c "streamlit run /opt/airflow/streamlit_dashboard.py --server.port=8501 --server.address=0.0.0.0 --server.headless=true"
    ports:
      - "8501:8501"
    environment:
      - POSTGRES_HOST=postgres
    depends_on:
      - postgres
      - airflow-init